*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

button {
    font: inherit;
}

body {
    background-color: #1c2232;
    font-size: 1.25rem;
    font-family: 'Open Sans', sans-serif;
}

main {
    display: grid;
    place-content: center;
    height: 100vh;
}

.calculator {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 10px;
    background-color: #dedede;
    border: 3px solid #8a8a8a;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 1rem;
    border: 2px solid #8a8a8a;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}

.screen-last {
    min-height: 2rem;
    font-size: 1.25rem;
}

.screen-current {
    min-height: 4rem;
    font-size: 2.5rem;
}

.buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

.btn {
    cursor: pointer;
    padding: 1rem 1.5rem;
    border-radius: 10px;
}

.span-2 {
    grid-column: span 2;
}