*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

button {
    font: inherit;
}

body {
    background-color: #e5cfcb;
    font-size: 1.25rem;
    font-family: 'Open Sans', sans-serif;
}

main {
    display: grid;
    place-content: center;
    height: 100vh;
}

.calculator {
    padding: 1rem;
    background-color: #f0f0f0;
    border: 2px solid #000000;
    box-shadow: -6px 6px 0px 0px #000000;
    max-width: 305px;
}

.screen {
    margin-bottom: 1rem;
    border: 2px solid #000000;
    box-shadow: -2px 2px 0px 0px #000000;
    min-height: 100px;
    padding: 10px;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
}

.screen-last {
    min-height: 25px;
    font-size: 1rem;
}

.screen-current {
    min-height: 55px;
    font-size: 2.5rem;
}

.buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

.btn {
    cursor: pointer;
    padding: 1rem 1.5rem;
    border: 1px solid #000000;
    box-shadow: -2px 2px 0px 0px #000000;
}

.btn:active {
    background-color: #e1e1e1;
    transform: translate(-1px, 1px);
    box-shadow: -1px 1px;
}

#deleteBtn {
    background-color: #e9806e;
}

#deleteBtn:active {
    background-color: #df7a68;
}

.span-2 {
    grid-column: span 2;
}